        <div class="lang-switcher" data-lang-switcher>
          <button
            type="button"
            class="lang-switcher__btn"
            aria-expanded="false"
            aria-haspopup="true"
            data-i18n-attr="aria-label:switcher.aria_label"
            aria-label="Choisir la langue"
          >
            <img class="lang-switcher__flag" src="assets/flags/fr.svg" alt="" width="20" height="14" />
            <span class="lang-switcher__label">Français</span>
            <span class="lang-switcher__chevron" aria-hidden="true"></span>
          </button>
          <div class="lang-switcher__menu" hidden>
            <a
              class="lang-switcher__option"
              href="/"
              hreflang="fr-BE"
              data-lang="fr"
              lang="fr"
              aria-current="true"
            >
              <img class="lang-switcher__flag" src="assets/flags/fr.svg" alt="" width="20" height="14" />
              <span>Français</span>
            </a>
            <a
              class="lang-switcher__option"
              href="/nl/"
              hreflang="nl-BE"
              data-lang="nl"
              lang="nl"
            >
              <img class="lang-switcher__flag" src="assets/flags/be.svg" alt="" width="20" height="14" />
              <span>Vlaams</span>
            </a>
            <a
              class="lang-switcher__option"
              href="/en/"
              hreflang="en"
              data-lang="en"
              lang="en"
            >
              <img class="lang-switcher__flag" src="assets/flags/gb.svg" alt="" width="20" height="14" />
              <span>English</span>
            </a>
            <a
              class="lang-switcher__option"
              href="/es/"
              hreflang="es"
              data-lang="es"
              lang="es"
            >
              <img class="lang-switcher__flag" src="assets/flags/es.svg" alt="" width="20" height="14" />
              <span>Español</span>
            </a>
            <a
              class="lang-switcher__option"
              href="/it/"
              hreflang="it"
              data-lang="it"
              lang="it"
            >
              <img class="lang-switcher__flag" src="assets/flags/it.svg" alt="" width="20" height="14" />
              <span>Italiano</span>
            </a>
            <a
              class="lang-switcher__option"
              href="/pt/"
              hreflang="pt"
              data-lang="pt"
              lang="pt"
            >
              <img class="lang-switcher__flag" src="assets/flags/pt.svg" alt="" width="20" height="14" />
              <span>Português</span>
            </a>
            <a
              class="lang-switcher__option"
              href="/tr/"
              hreflang="tr"
              data-lang="tr"
              lang="tr"
            >
              <img class="lang-switcher__flag" src="assets/flags/tr.svg" alt="" width="20" height="14" />
              <span>Türkçe</span>
            </a>
            <a
              class="lang-switcher__option"
              href="/ar/"
              hreflang="ar"
              data-lang="ar"
              lang="ar"
            >
              <img class="lang-switcher__flag" src="assets/flags/ar.svg" alt="" width="20" height="14" />
              <span>العربية</span>
            </a>
          </div>
        </div>
